<%- include('./base/header.ejs') %>

    <div class="container-fluid my-2">
        <div class="alert bg-warning">
            <h2 class="text-center">Saved Records</h2>
        </div>
    </div>
    <div class="container table-responsive">
        <table class="table text-center table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>City</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <%  if (records) { %>
                    <% for (var i = 0; i < records.length; i++) { %>
                <tr>
                    <td><%= records[i].name %></td>
                    <td><%= records[i].email %></td>
                    <td><%= records[i].contact %></td>
                    <td><%= records[i].city_name %></td>
                    <td><a href="/edit/<%= records[i]._id %>"><i class='bx bxs-edit'></i></a></td>
                    <td><a href="/delete/<%= records[i]._id %>"><i class="fa-solid fa-trash text-danger"></i></a></td>
                </tr>
                <% } %>
                    <% } %>
            </tbody>
        </table>
    </div>

<%- include('./base/footer.ejs') %>